<div class="catalog-search" style="height: 52px;">
  <div class="landing-search-form search-pf has-button">
    <div class="form-group has-clear">
      <div class="search-pf-input-group">
        <label for="search-input" class="sr-only">{{'SEARCH_DOCUMENT.SEARCH_DOCUMENT' | translate}}</label>
        <span class="fa fa-search catalog-search-icon" aria-hidden="true"></span>

        <!-- <input formControlName="filterText" (keypress)="searchInputKeyPress($event)" type="search" autocomplete="off" class="form-control catalog-search-input"
          placeholder="{{'SEARCH_DOCUMENT.SEARCH_DOCUMENT' | translate}}" autocorrect="off" autocapitalize="off" spellcheck="false"
          aria-autocomplete="list" aria-expanded="false"> -->

        <input #typeahead (keypress)="searchInputKeyPress($event, typeahead.value)" (selectItem)="selectItem($event)" type="search"
          [(ngModel)]="typeaheadModel" [ngbTypeahead]="search" [resultTemplate]="typeaheadTemplate" [inputFormatter]="formatter" [editable]="false"
          [focusFirst]="false" [showHint]="true" class="form-control catalog-search-input" placeholder="{{'SEARCH_DOCUMENT.SEARCH_DOCUMENT' | translate}}"
          autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

        <ng-template #typeaheadTemplate let-item="result">
          <div *ngIf="item.type === 'parties'" class="catalog-search-match" style="display: flex;">
            <span class="catalog-search-match-icon">
              <span>
                <img src="assets/images/logos/office.svg">
              </span>
            </span>
            <div class="catalog-search-match-info">
              <div class="catalog-search-match-label">
                {{item.attributes.name}}
              </div>
              <div class="catalog-search-match-description">
                <span class="tag small text-muted ">
                  {{item.attributes.assignedId}}
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="item.type === 'ubl-document'" class="catalog-search-match" style="display: flex;">
            <span class="catalog-search-match-icon">
              <span>
                <img src="assets/images/logos/xml.svg">
              </span>
            </span>
            <div class="catalog-search-match-info">
              <div class="catalog-search-match-label">{{item.attributes.assignedId}}
                <span class="tag small text-muted" style="text-transform: none;">{{item.attributes.type | lowercase}}</span>
              </div>
              <div class="catalog-search-match-description">
                <span class="tag small text-muted ">{{item.attributes.supplierName | truncate:15}}</span>&rarr;
                <span class="tag small text-muted ">{{item.attributes.customerName | truncate:15}}</span>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
