@import '../../../../styles/styles';

.add-dialog { padding: 20px; }
.add-dialog-header {
  position: absolute;
  top: -48px;
  .glyphicon-remove { @include pointer(); }
}
.space-select { width: 400px; }
.add-fieldset { min-height: 400px; }
