<form role="form" #spacesForm="ngForm" (ngSubmit)="save()" novalidate>
  <header>
    <h3 class="add-dialog-header">
      <b>Select spaces to enable</b>
    </h3>
  </header>
  <section>
    <div class="row">
      <div class="col-sm-5">
        <h2>Owned</h2>
        <div *ngFor="let space of ownedSpaces">
          <input type="checkbox" [value]="space.attributes.assignedId" [checklist]="selectedSpaces" /> {{space.attributes.name}}
        </div>
        <div *ngIf="!ownedSpaces || ownedSpaces.length === 0">
          <em>No owned spaces found.</em>
        </div>

        <h2>Collaborating</h2>
        <div *ngFor="let space of collaboratedSpaces">
          <input type="checkbox" [value]="space.attributes.assignedId" [checklist]="selectedSpaces" /> {{space.attributes.name}}
        </div>
        <div *ngIf="!collaboratedSpaces || collaboratedSpaces.length === 0">
          <em>No collaborating spaces.</em>
        </div>
      </div>
      <div class="col-sm-7">
        <p>Choose which message categories to show as inbox tabs. Other messages will appear in the Primary tab.</p>
        <p>Deselect all categories to go back to your old inbox.</p>
        <img src="../../../assets/img/tabbed_inbox.png" style="width: 100%;">
      </div>
    </div>
  </section>
  <footer>
    <button class="btn btn-primary" [disabled]="!spacesForm.form.valid" type="submit">Save</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </footer>
</form>
