.blank-slate-pf {
    border: 0px !important;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    padding: 10px 0px 0px 10px;
    text-align: center;
}

.pficon-info {
    font-size: 20px !important;
}