@import '../../../styles/styles';

/*.list-pf-title {
  font-size: 16px;
}

.list-pf-description {
  font-size: 12px;
}

.list-pf-title small {
  display: block;
  font-size: 9.6px;
  font-weight: 400;
}

.list-pf-description small {
  display: block;
  font-size: 9.6px;
  font-weight: 400;
}*/
