<li class="drawer-pf-trigger open">
  <a (click)="toggleNotifications()" href="javascript:void(0)" class="nav-item-iconic">
    <span class="fa fa-bell" title="Notifications"></span>
    <span *ngIf="pendingRequests.length > 0" class="badge badge-pf-bordered"> </span>
  </a>
</li>

<div *ngIf="showNotifications" [ngClass]="{'drawer-pf-expanded': expanded}" class="drawer-pf drawer-pf-notifications-non-clickable">
  <div class="drawer-pf-title">
    <a (click)="toggleExpand()" [ngClass]="{'fa-angle-double-left': expanded, 'fa-angle-double-right': !expanded}" href="javascript:void(0)"
      class="drawer-pf-toggle-expand fa hidden-xs"></a>
    <a (click)="toggleNotifications()" class="drawer-pf-close pficon pficon-close"></a>
    <h3 class="text-center">Notifications</h3>
  </div>
  <div class="panel-group" id="notification-drawer-accordion" style="overflow-y: hidden;">

    <div class="panel panel-default">
      <div class="panel-heading" data-component="collapse-heading">
        <h4 class="panel-title">
          <a href="javascript:void(0)" aria-expanded="true">Solicitudes Pendientes</a>
        </h4>
        <span class="panel-counter">{{pendingRequests.length}} Nuevas Solicitudes</span>
      </div>
      <div id="fixedCollapseTwo" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body" style="overflow-y: auto; max-height: 272.223px;">
          <div *ngFor="let request of pendingRequests; let i=index" class="drawer-pf-notification unread">
            <div dropdown class="dropdown pull-right dropdown-kebab-pf">
              <button dropdownToggle class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight44" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight44">
                <li>
                  <a (click)="acceptRequest(request, i)" href="javascript:void(0)">Accept</a>
                </li>
                <li>
                  <a (click)="rejectRequest(request, i)" href="javascript:void(0)">Reject</a>
                </li>
              </ul>
            </div>
            <span class="pficon pficon-info pull-left"></span>
            <div class="drawer-pf-notification-content">
              <span class="drawer-pf-notification-message">
                <p style="margin: 0px;">
                  To:
                  <span style="font-weight: initial;">{{request.relationalData?.spaceRequested?.attributes?.name | spaceName}} | {{request.relationalData?.spaceRequested?.attributes?.assignedId}}</span>
                </p>
                <p style="margin: 0px;">
                  Message:
                  <span style="font-weight: initial;">{{request.attributes.message}}</span>
                </p>
              </span>
              <div class="drawer-pf-notification-info">
                <span style="font-weight: bold;">From:</span>
                <span class="date">{{request.relationalData?.createdBy?.attributes?.fullName}}</span>
                <span class="time">{{request.relationalData?.createdBy?.attributes?.username}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="loadingPendingRequests" class="drawer-pf-loading text-center">
            <span class="spinner spinner-xs spinner-inline"></span> Loading More
          </div>
        </div>
        <div class="blank-slate-pf hidden">
          <div class="blank-slate-pf-icon">
            <span class="pficon-info"></span>
          </div>
          <h1>There are no notifications to display.</h1>
        </div>
        <div *ngIf="pendingRequests.length" class="drawer-pf-action">
          <div class="drawer-pf-action-link" data-toggle="mark-all-read">
            <button (click)="acceptAllRequests()" type="button" class="btn btn-link">
              <span class="fa fa-check"></span> Accept All
            </button>
          </div>
          <div class="drawer-pf-action-link" data-toggle="clear-all">
            <button (click)="rejectAllRequests()" type="button" class="btn btn-link">
              <span class="pficon pficon-close"></span> Reject All
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
