<pfng-toolbar [config]="toolbarConfig" [actionTemplate]="actionTemplate" (onActionSelect)="handleAction($event)" (onFilterChange)="filterChanged($event)"
    (onFilterFieldSelect)="filterFieldSelected()" (onFilterTypeAhead)="filterQueries($event)" (onSortChange)="sortChanged($event)"
    (onViewSelect)="viewSelected($event)">
    <ng-template #actionTemplate>
        <span class="dropdown primary-action" dropdown>
            <button class="btn btn-default dropdown-toggle" type="button" dropdownToggle>Menu Action<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" *dropdownMenu>
            <li role="menuitem">
                <a class="dropdown-item secondary-action" (click)="optionSelected(1)">Option 1</a>
            </li>
            <li role="menuitem">
                <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(2)">Option 2</a>
            </li>
            <li role="menuitem">
                <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(3)">Option 3</a>
            </li>
            <li role="menuitem">
                <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(4)">Option 4</a>
            </li>
        </ul>
        </span>
        <button class="btn btn-default primary-action" type="button" (click)="doAdd()">
            <span class="fa fa-plus"></span>Add Action
        </button>
    </ng-template>
</pfng-toolbar>