<div class="card-pf" style="height: 364px;">
    <div class="card-pf-heading">
        <h2 class="card-pf-title" style="height: 17px;">Documents</h2>
    </div>
    <div class="card-pf-body" style="height: 284px;">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon"><i class="pficon pficon-info"></i></div>
            <h3>No recent failed or active pipelines</h3>
            <p>Failed pipelines or active pipelines will display here when you commit and build your codebase.</p>
        </div>
    </div>
</div>