<div class="navbar-project-menu">
    <div class="cn-row">
      <div class="form-group">
        <div class="btn-group bootstrap-select form-control" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
            <span class="filter-option pull-left">Clarksnut</span>&nbsp;
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu" *dropdownMenu>
            <li>
              <a href="#0">Help</a>
            </li>
            <li>
              <a href="#0">About</a>
            </li>
          </div>
        </div>
      </div>
      <div class="cn-row navbar-flex-btn project-action">
        <a class="project-action-btn" title="Claim Space">
          <i class="fa fa-plus visible-xs-inline-block"></i>
          <span class="hidden-xs">Claim Space</span>
        </a>
      </div>
    </div>
  </div>
