@import '../../../../styles/styles';

.navbar-project-menu {
  border-bottom: 0;
  border-top: 0;
  float: left;
  margin: 0;
  padding-top: 0;
  .form-group {
    margin-bottom: 0;
    .form-control {
      background-color: transparent;
      margin-bottom: 0;
      height: auto;
    }
    .bootstrap-select.btn-group .btn {
      padding: 15px 50px 15px 30px;
    }
  }

  .bootstrap-select.btn-group .btn {
    border-color: #050505;
    border-radius: 0;
    color: #dbdada;
    font-size: 19px;
    font-weight: 300;
    background: #292e34;
    border-bottom: 0;
    box-shadow: none;
    border-top: 0;
    line-height: 1.66666667;
    padding: 7px 50px 7px 20px;
    transition: none;
  }
}

.cn-row {
  display: flex;
  flex-direction: row;
}

.navbar-flex-btn .project-action-btn {
  text-decoration: none;
  align-items: center;
  flex: 1 0 0%;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
}
