<div *ngIf="isGettingStartedPage; then showGettingStartedHeader else showHeader"></div>
<ng-template #showGettingStartedHeader>
  <nav class="navbar navbar-default navbar-pf">
    <div class="navbar-header">
      <div class="navbar-brand">Openfact Sync - Getting Started</div>
    </div>
  </nav>
</ng-template>
<ng-template #showHeader>
  <nav class="navbar navbar-default navbar-inverse navbar-pf" *ngIf="context">>
    header
    <!-- /.container-fluid -->
  </nav>

  <fab-about-modal #aboutModal>
  </fab-about-modal>
</ng-template>

<ofs-space-wizard #spaceWizard></ofs-space-wizard>