<div class="nav-category">
  <h2>Actions</h2>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <ofs-document-wizard [isButton]="true" style="padding: 1px 20px;"></ofs-document-wizard>
    </li>
  </ul>
</div>
<div class="nav-category">
  <h2>Documents</h2>
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active">
      <a routerLink="/_home">
        <i class="fa fa-inbox"></i>Inbox
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/_starred">
        <i class="fa fa-star"></i>Starred
      </a>
    </li>
  </ul>
</div>
