<ng-template #wizardTemplate>

  <pfng-wizard #wizard [config]="wizardConfig" (onCancel)="cancel($event)" (onNext)="nextClicked($event)" (onStepChange)="stepChanged($event, wizard)">
    <!-- Step 1A: Details -->
    <pfng-wizard-step [config]="step1Config">
      <pfng-wizard-substep [config]="step1aConfig" [reviewTemplate]="step1aReviewTemplate">
        <cn-space-form (spaceChange)="onSpaceFormChange($event)"></cn-space-form>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="step1bConfig">
        <div *ngIf="!previousSpace;then termsAndConditions else requestAccess">
        </div>
        <ng-template #termsAndConditions>
          <cn-space-terms-conditions (agreementChange)="onTermsConditionsChange($event)"></cn-space-terms-conditions>
        </ng-template>
        <ng-template #requestAccess>
          <cn-request-access-form (requestChange)="onRequestAccessChange($event)" [space]="previousSpace"></cn-request-access-form>
        </ng-template>
      </pfng-wizard-substep>
    </pfng-wizard-step>

    <!-- Step 2A: Settings -->
    <pfng-wizard-step [config]="step2Config">
      <pfng-wizard-substep [config]="step2aConfig">
        <pfng-wizard-review></pfng-wizard-review>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="step2bConfig" (onShow)="save()">
        <div class="wizard-pf-contents">
          <div class="wizard-pf-process blank-slate-pf" *ngIf="working">
            <div class="spinner spinner-lg blank-slate-pf-icon"></div>
            <h3 class="blank-slate-pf-main-action">Creating in process</h3>
            <p class="blank-slate-pf-secondary-action">Please wait.
            </p>
          </div>
          <div class="wizard-pf-complete blank-slate-pf" *ngIf="!working">
            <div *ngIf="success">
              <div class="wizard-pf-success-icon">
                <span class="glyphicon glyphicon-ok-circle"></span>
              </div>
              <h3 class="blank-slate-pf-main-action">{{ 'SPACE_WIZARD.SPACE_CREATED' | translate }}</h3>
            </div>
            <div *ngIf="!success">
              <div class="wizard-pf-success-icon">
                <span class="pficon pficon-warning-triangle-o"></span>
              </div>
              <h3 class="blank-slate-pf-main-action">Ups! Algo inesperado occurio. Por favor, vuelva a intentarlo más tarde.</h3>
            </div>
          </div>
        </div>
      </pfng-wizard-substep>
    </pfng-wizard-step>

  </pfng-wizard>

  <!-- Step B: Review -->
  <ng-template #step1aReviewTemplate>
    <form class="form">
      <div class="wizard-pf-review-item">
        <span class="wizard-pf-review-item-label">ID:</span>
        <span class="wizard-pf-review-item-value">{{space?.attributes?.assignedId}}</span>
      </div>
      <div class="wizard-pf-review-item">
        <span class="wizard-pf-review-item-label">Name:</span>
        <span class="wizard-pf-review-item-value">{{space?.attributes?.name}}</span>
      </div>
      <div class="wizard-pf-review-item">
        <span class="wizard-pf-review-item-label">Description:</span>
        <span class="wizard-pf-review-item-value">{{space?.attributes?.description}}</span>
      </div>
    </form>
  </ng-template>

</ng-template>
