<ng-template #wizardTemplate>

  <pfng-wizard #wizard [config]="wizardConfig" (onCancel)="cancel($event)" (onNext)="nextClicked($event)" (onStepChange)="stepChanged($event, wizard)">

    <pfng-wizard-step [config]="stepClaimConfig">
      <pfng-wizard-substep [config]="stepClaimReviewConfig">
        <pfng-wizard-review></pfng-wizard-review>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="stepClaimResultConfig" (onShow)="save()">
        <div class="wizard-pf-contents">
          <div class="wizard-pf-process blank-slate-pf" *ngIf="working">
            <div class="spinner spinner-lg blank-slate-pf-icon"></div>
            <h3 class="blank-slate-pf-main-action">Creating in process</h3>
            <p class="blank-slate-pf-secondary-action">Please wait.
            </p>
          </div>
          <div class="wizard-pf-complete blank-slate-pf" *ngIf="!working">
            <div class="wizard-pf-success-icon">
              <span class="glyphicon glyphicon-ok-circle"></span>
            </div>
            <h3 class="blank-slate-pf-main-action">Space Created</h3>
            <p class="blank-slate-pf-secondary-action">Space was created successfully.
            </p>
            <button type="button" class="btn btn-lg btn-primary">View Space</button>
          </div>
        </div>
      </pfng-wizard-substep>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="stepSpaceConfig">
      <pfng-wizard-substep [config]="stepSpaceInfoConfig" [reviewTemplate]="stepSpaceInfoReviewTemplate">
        <ofs-space-form (onChange)="onSpaceFormChange($event)"></ofs-space-form>
      </pfng-wizard-substep>
      <pfng-wizard-substep [config]="stepSpaceTermsConditionsConfig">
        <ofs-space-terms-conditions (onChange)="onTermsConditionsChange($event)"></ofs-space-terms-conditions>
      </pfng-wizard-substep>
    </pfng-wizard-step>

  </pfng-wizard>

  <!-- Step 1B: Settings -->
  <ng-template #stepSpaceInfoReviewTemplate>
    <form class="form">
      <div class="wizard-pf-review-item">
        <span class="wizard-pf-review-item-label">Space:</span>
        <span *ngIf="spaceForm" class="wizard-pf-review-item-value">{{spaceForm.space}}</span>
      </div>
      <div class="wizard-pf-review-item">
        <span class="wizard-pf-review-item-label">Alias:</span>
        <span *ngIf="spaceForm" class="wizard-pf-review-item-value">{{spaceForm.alias}}</span>
      </div>
    </form>
  </ng-template>

</ng-template>
