<div class="number-filter-ofs" *ngIf="config?.visible !== false">
  <div class="btn-group dropdown" dropdown>
    <a class="btn btn-link dropdown-toggle" dropdownToggle>
      {{currentField?.title}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" *dropdownMenu>
      <li role="menuitem" *ngFor="let item of config?.fields" [ngClass]="{'selected': item === currentField}">
        <a href="javascript:void(0);" class="sortfield sort-field dropdown-item" tabindex="-1" (click)="selectField(item)">{{item?.title}}</a>
      </li>
      <li *ngIf="isCustomRangeVisible" class="divider"></li>
      <li *ngIf="isCustomRangeVisible" role="menuitem" [ngClass]="{'selected': item === currentField}">
        <a href="javascript:void(0);" class="sortfield sort-field dropdown-item" (click)="customNumberModal.open()" tabindex="-1">{{rangeField?.title}}</a>
      </li>
    </ul>
  </div>
</div>

<modal #customNumberModal title="Custom range">
  <modal-content>

    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Min</label>
        <div class="col-sm-9">
          <input class="form-control" currencyMask [(ngModel)]="min" [options]="{ align:'left', prefix: '', precision: '0', allowNegative: 'false' }"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Max</label>
        <div class="col-sm-9">
          <input class="form-control" currencyMask [(ngModel)]="max" [options]="{ align:'left', prefix: '', precision: '0', allowNegative: 'false' }"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default" (click)="go()" [disabled]="!min || !max">Go</button>
        </div>
      </div>
    </div>

  </modal-content>
</modal>
