.btn-default {
    background-color: #f1f1f1 !important;
    background-image: linear-gradient(to bottom,#fafafa 0,#ededed 100%) !important;
    background-repeat: repeat-x !important;
    border-color: #bbb !important;
    color: #4d5258 !important;
}