<div *ngIf="showGettingStarted">
    <div *ngIf="!registrationCompleted; then unsuccessState else successState"></div>

    <ng-template #unsuccessState>
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <span class="pficon pficon-replicator"></span>
            </div>
            <h1>Geetting Started</h1>
            <p>
                Welcome to Openfact Sync. You will be able to synchronize all your UBL 2.1 Document just from one site. You can contribute
                to our comunity sharing your information of your gmail.
            </p>

            <h2>Authorized accounts</h2>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Linked Account</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Google</td>
                                <td><button type="button" class="btn btn-default" [disabled]="googleLinked" (click)="connectAccount('google')">Link</button></td>
                            </tr>
                            <tr>
                                <td>Microsoft</td>
                                <td><button type="button" class="btn btn-default" [disabled]="microsoftLinked" (click)="connectAccount('microsoft')">Link</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <p>
                Do you want to share your information. <a href="#">Policies and restrictions</a>.
            </p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" (click)="requestOfflineToken()"> Accept </button>
                <button class="btn btn-default btn-lg" (click)="saveUserToken(true)"> Reject </button>
            </div>
        </div>
    </ng-template>

    <ng-template #successState>
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <span class="pficon pficon-ok"></span>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div>
                        <h2>Success! You're ready to start in OpenfactSync.io.</h2>
                        <p>You can now proceed to your home page to plan work, code, and deploy your applications.</p>
                        <button class="btn btn-lg btn-primary" (click)="routeToHome()">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>