<div class="container">
  <div class="page-header text-center">
    <h1>Collect from
      <strong>Email?</strong>
    </h1>
  </div>
</div>

<div class="main container">
  <div class="container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <div class="card-pf text-center" style="height: 263px;">
          <div class="card-pf-heading-no-bottom">
            <h2 class="card-pf-title">
              <span class="pficon pficon-topology"></span> Collect (Gmail)
            </h2>
            <span class="card-pf-subtitle">For active mail collect batchs.</span>
            <div class="card-pf-body" style="height: 64px;">
              <a class="btn btn-lg btn-primary btn-block open-web-console" title="Collect" href="javascript:void(0);">Start Collecting from Mail</a>
            </div>
            <div class="card-pf-footer plan-customizations">
              <div class="row">
                <span class="col-sm-3 tooltip-help" popover="Search and organize all your documents." popoverTitle="Search" placement="top"
                  [outsideClick]="true">
                  <i class="fa fa-search"></i>
                  <strong>Search</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Unlimited persistent storage is included" popoverTitle="Persistent Storage"
                  placement="top" [outsideClick]="true">
                  <i class="pficon pficon-volume"></i>
                  <strong>Persist</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Document readers available for your country." popoverTitle="Document Reader"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa fa-file-code-o"></i>
                  <strong>Reader</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Mail offline collector. Check your document from your Gmail" popoverTitle="Mail Collector"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa-envelope"></i>
                  <strong>Collector</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-pf text-center" style="height: 263px;">
          <div class="card-pf-heading-no-bottom">
            <h2 class="card-pf-title">
              <span class="pficon pficon-middleware"></span> Do not Collect
            </h2>
            <span class="card-pf-subtitle">For individual experimenting.</span>
            <div class="card-pf-body" style="height: 64px;">
              <a class="btn btn-lg btn-default btn-block open-web-console" title="Don't collect" (click)="reject()">Start using Clarksnut</a>
            </div>
            <div class="card-pf-footer plan-customizations">
              <div class="row">
                <span class="col-sm-3 tooltip-help" popover="Search and organize all your documents." popoverTitle="Search" placement="top"
                  [outsideClick]="true">
                  <i class="fa fa-search"></i>
                  <strong>Search</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Unlimited persistent storage is included" popoverTitle="Persistent Storage"
                  placement="top" [outsideClick]="true">
                  <i class="pficon pficon-volume"></i>
                  <strong>Persist</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Document readers available for your country." popoverTitle="Document Reader"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa fa-file-code-o"></i>
                  <strong>Reader</strong>
                </span>
                <span class="col-sm-3 tooltip-help" style="color:#d1d1d1;">
                  <i class="fa fa-envelope"></i>
                  <strong>Collector</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div *ngIf="!registrationCompleted; then unsuccessState else successState"></div>

<ng-template #unsuccessState>
  <div class="blank-slate-pf">
    <div class="blank-slate-pf-icon">
      <span class="pficon pficon-replicator"></span>
    </div>
    <h1>Welcome!</h1>
    <p>
      Welcome to Clarksnut. You will be able to synchronize all your UBL 2.1 Document just from one site. You can contribute to
      our comunity sharing your information of your mail.
    </p>

    <p>
      Do you want to share your information.
      <a href="javascript:void(0);">Policies and restrictions</a>.
    </p>
    <div class="blank-slate-pf-main-action">
      <button class="btn btn-primary btn-lg" (click)="accept()"> Accept</button>
      <button class="btn btn-default btn-lg" (click)="reject()"> Reject</button>
    </div>
  </div>
</ng-template>

<ng-template #successState>
  <div class="blank-slate-pf">
    <div class="blank-slate-pf-icon">
      <span class="pficon pficon-ok"></span>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div>
          <h2>Success! You're ready to start in OpenfactSync.io.</h2>
          <p>You can now proceed to your home page to plan work, code, and deploy your applications.</p>
          <button class="btn btn-lg btn-primary" (click)="routeToHome()">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->
