<div class="container">
  <div class="page-header text-center">
    <h1>Collect from
      <strong>Email?</strong>
    </h1>
  </div>
</div>

<div class="main container">
  <div class="container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <div class="card-pf text-center" style="height: 263px;">
          <div class="card-pf-heading-no-bottom">
            <h2 class="card-pf-title">
              <span class="pficon pficon-topology"></span> Collect (Gmail)
            </h2>
            <span class="card-pf-subtitle">For active mail collect batchs.</span>
            <div class="card-pf-body" style="height: 64px;">
              <a class="btn btn-lg btn-primary btn-block open-web-console" title="Collect" (click)="accept()">Start Collecting from Mail</a>
            </div>
            <div class="card-pf-footer plan-customizations">
              <div class="row">
                <span class="col-sm-3 tooltip-help" popover="Search and organize all your documents." popoverTitle="Search" placement="top"
                  [outsideClick]="true">
                  <i class="fa fa-search"></i>
                  <strong>Search</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Unlimited persistent storage is included" popoverTitle="Persistent Storage"
                  placement="top" [outsideClick]="true">
                  <i class="pficon pficon-volume"></i>
                  <strong>Persist</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Document readers available for your country." popoverTitle="Document Reader"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa fa-file-code-o"></i>
                  <strong>Reader</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Mail offline collector. Check your document from your Gmail" popoverTitle="Mail Collector"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa-envelope"></i>
                  <strong>Collector</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-pf text-center" style="height: 263px;">
          <div class="card-pf-heading-no-bottom">
            <h2 class="card-pf-title">
              <span class="pficon pficon-middleware"></span> Do not Collect
            </h2>
            <span class="card-pf-subtitle">For individual experimenting.</span>
            <div class="card-pf-body" style="height: 64px;">
              <a class="btn btn-lg btn-default btn-block open-web-console" title="Don't collect" (click)="reject()">Start using Clarksnut</a>
            </div>
            <div class="card-pf-footer plan-customizations">
              <div class="row">
                <span class="col-sm-3 tooltip-help" popover="Search and organize all your documents." popoverTitle="Search" placement="top"
                  [outsideClick]="true">
                  <i class="fa fa-search"></i>
                  <strong>Search</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Unlimited persistent storage is included" popoverTitle="Persistent Storage"
                  placement="top" [outsideClick]="true">
                  <i class="pficon pficon-volume"></i>
                  <strong>Persist</strong>
                </span>
                <span class="col-sm-3 tooltip-help" popover="Document readers available for your country." popoverTitle="Document Reader"
                  placement="top" [outsideClick]="true">
                  <i class="fa fa fa-file-code-o"></i>
                  <strong>Reader</strong>
                </span>
                <span class="col-sm-3 tooltip-help" style="color:#d1d1d1;">
                  <i class="fa fa-envelope"></i>
                  <strong>Collector</strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
