<br/>

<div class="container-fluid">
    <main class="row">
        <aside class="col-sm-3">
            <ul class="user-attributes">
                <li> <img src="https://www.gravatar.com/avatar/163cc1ad968597824afc0fea62779fc6.jpg"> </li>
                <li>
                    <h2>Carlos Feria</h2>
                </li>
                <li>
                    <p>username</p>
                    <p>biography</p>
                </li>
            </ul>
        </aside>
        <section class="col-sm-9">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="search-pf-input-group"> <input class="form-control" id="spacesSearch" placeholder="Search spaces..." type="search"> </div>
                        </div>
                        <div class="col-sm-2"> <button class="btn btn-primary" type="button">New</button> </div>
                    </div>
                </form>
            </div>
            <div class="row contents">
                <div class="spaces-list-page">
                    <div alminfinitescroll="" class="spaces-list-wrap">
                        <div>
                            <div class="space-item">
                                <h2> <a href="/developer/openfact-platform">openfact-platform</a>
                                    <i class="fa fa-trash"></i> </h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>