<div class="pf-filter-panel" style="border-bottom: 1px solid #ededed; padding-bottom: 10px;">
  <div class="filter-pf">

    <span dropdown class="dropdown primary-action">
      <button dropdownToggle class="btn btn-default dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">Espacios
        <span class="caret"></span>
      </button>
      <div *dropdownMenu class="dropdown-menu">
        <div class="filter-panel-container ">
          <!-- <input type="text" class="keyword-filter form-control" placeholder="Filter by Keyword" autocorrect="off" autocapitalize="none"
            spellcheck="false"> -->
          <div class="category">
            Privados
            <span class="pficon pficon-info vendor-info-icon" aria-hidden="true" tooltip="This filter will only apply to items which contain publisher information. Items that do not have a publisher will not be shown in the filter results."></span>
            <ul>
              <li *ngFor="let space of ownedSpaces">
                <div class="checkbox">
                  <label class="category-option-label" cnStopPropagation>
                    <input type="checkbox" name="spaces" value="{{space.id}}" [(ngModel)]="space.checked" (change)="checkedSpacesChanged()"> {{space.attributes.name | spaceName}}
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <div class="category">
            Collaborativos
            <span class="pficon pficon-info vendor-info-icon" aria-hidden="true" tooltip="This filter will only apply to items which contain publisher information. Items that do not have a publisher will not be shown in the filter results."></span>
            <ul>
              <li *ngFor="let space of collaboratedSpaces">
                <div class="checkbox">
                  <label class="category-option-label" cnStopPropagation>
                    <input type="checkbox" name="spaces" value="{{space.id}}" [(ngModel)]="space.checked" (change)="checkedSpacesChanged()"> {{space.attributes.name | spaceName}}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </span>

    <span dropdown class="dropdown primary-action">
      <button dropdownToggle class="btn btn-default dropdown-toggle">
        <span class="fa fa-filter"></span>
        <span class="username truncate">Filtros</span>
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu">
        <li *ngIf="searchResult.facets.type && searchResult.facets.type.length > 0" class="dropdown-submenu">
          <a href="javascript:void(0);">Tipo</a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of searchResult.facets.type">
              <a (click)="applyTypeFilter(item.value)" style="cursor: pointer;">
                <span style="width: 67%; display: inline-block;">{{item.value}}</span>
                <span style="float: right;position: relative;top: 2px;">{{item.count | number}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="searchResult.facets.currency && searchResult.facets.currency.length > 0" class="dropdown-submenu">
          <a href="javascript:void(0);">Moneda</a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of searchResult.facets.currency">
              <a (click)="applyCurrencyFilter(item.value)" style="cursor: pointer;">
                <span style="width: 67%; display: inline-block;">{{item.value}}</span>
                <span style="float: right;position: relative;top: 2px;">{{item.count | number}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li *ngIf="searchResult.facets.amount && searchResult.facets.amount.length > 0" class="dropdown-submenu">
          <a href="javascript:void(0);">Monto</a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of searchResult.facets.amount">
              <a (click)="applyAmountFilter(item.value.from, item.value.to)" style="cursor: pointer;">
                <span style="width: 67%; display: inline-block;">{{item.value.from?(item.value.from|number):'&infin;'}} - {{item.value.to?(item.value.to|number):'&infin;'}}</span>
                <span style="float: right;position: relative;top: 2px;">{{item.count | number}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="searchResult.facets.issueDate && searchResult.facets.issueDate.length > 0" class="dropdown-submenu">
          <a href="javascript:void(0);">Fecha Emision</a>
          <ul class="dropdown-menu">
            <li *ngFor="let item of searchResult.facets.issueDate">
              <a (click)="applyIssueDateFilter(item.value.from, item.value.to)" style="cursor: pointer;">
                <span style="width: 67%; display: inline-block;">{{item.value.from?(item.value.from|date):'&infin;'}} - {{item.value.to?(item.value.to|date):'&infin;'}}</span>
                <span style="float: right;position: relative;top: 2px;">{{item.count | number}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </span>

    <span class="filter-pf">
      <span class="toolbar-pf-results">
        <h5>{{offset + 1}}-{{offset + limit + 1}}
          <span>of {{searchResult?.totalResults}}</span> Items
        </h5>
        <p *ngIf="filters.size > 0">Active filters:</p>
        <ul class="list-inline">
          <li *ngFor="let filter of filters">
            <span *ngIf="filter.type === 0 || filter.type === 1" class="active-filter label label-info single-label">
              <span class="pf-filter-label-category"></span> {{filter.name}}: {{filter.value}}
              <a>
                <span (click)="clearFilter(filter)" class="pficon pficon-close"></span>
              </a>
            </span>
            <span *ngIf="filter.type === 2" class="active-filter label label-info single-label">
              <span class="pf-filter-label-category"></span> {{filter.name}}: {{filter.value.from | number}}-{{filter.value.to | number}}
              <a>
                <span (click)="clearFilter(filter)" class="pficon pficon-close"></span>
              </a>
            </span>
            <span *ngIf="filter.type === 3" class="active-filter label label-info single-label">
              <span class="pf-filter-label-category"></span> {{filter.name}}: {{filter.value.from | date}}-{{filter.value.to | date}}
              <a>
                <span (click)="clearFilter(filter)" class="pficon pficon-close"></span>
              </a>
            </span>
          </li>
        </ul>
        <p>
          <a class="clear-filters" *ngIf="filters.length > 0" (click)="clearAllFilters()">Clear All Filters</a>
        </p>
      </span>
    </span>

    <span class="toolbar-pf-results" style="float: right; padding-right: 10px;">
      <div class="table-view-pf-select-results" style="padding-top: 0px;">
        <div style="display: inline-block; vertical-align: middle;">
          <ul class="pagination">
            <li>
              <a href="javascript:void(0);" (click)="previousPage()">
                <span class="i fa fa-angle-left"></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="nextPage()">
                <span class="i fa fa-angle-right"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </span>

  </div>
</div>
