<div class="date-filter-ofs" *ngIf="config?.visible !== false">
  <div class="btn-group dropdown" dropdown>
    <a class="btn btn-link dropdown-toggle" dropdownToggle>
      {{currentField?.title}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" *dropdownMenu>
      <li role="menuitem" *ngFor="let item of config?.fields" [ngClass]="{'selected': item === currentField}">
        <a href="javascript:void(0);" class="sortfield sort-field dropdown-item" tabindex="-1" (click)="selectField(item)">{{item?.title}}</a>
      </li>
      <li *ngIf="isCustomRangeVisible" class="divider"></li>
      <li *ngIf="isCustomRangeVisible" role="menuitem" [ngClass]="{'selected': item === currentField}">
        <a href="javascript:void(0);" class="sortfield sort-field dropdown-item" (click)="customDateModal.open()" tabindex="-1">{{rangeField?.title}}</a>
      </li>
    </ul>
  </div>
</div>

<modal #customDateModal title="Custom date">
  <modal-content>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">From</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="from" value="{{fromDate | date: 'shortDate'}}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">To</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="from" value="{{toDate | date: 'shortDate'}}" readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-default" (click)="go()" [disabled]="!fromDate || !toDate">Go</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <my-date-range-picker [options]="dateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" (dateSelected)="onDateSelected($event)">
        </my-date-range-picker>
      </div>
    </div>

  </modal-content>
</modal>
