<div class="container-fluid content padding-top-15">
    <div class="row profile-edit">
        <!-- left column -->
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <h1>Edit Profile</h1>

            <form [formGroup]="form">
                <div class="form-group">
                    <p class="help-block">The fields marked with <span class="required-pf">*</span> are required.</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Name</label>
                    <div formControlError="fullName">
                        <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your full name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label required-pf">Email</label>
                    <div formControlError="email">
                        <input #_email type="email" class="form-control" formControlName="email" placeholder="name@gmail.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="company" class="control-label">Company</label>
                    <div formControlError="company">
                        <input type="text" class="form-control" formControlName="company" placeholder="name@gmail.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label padding-left-none">Profile photo</label>
                    <div class="col-xs-12 preview-cont padding-left-none">
                        <img src="{{form.get('imageURL')}}" class="col-xs-2 preview-img padding-left-none" *ngIf="form.get('imageURL').value !== undefined && form.get('imageURL').value.length > 0">
                        <img src="../../../assets/images/profile-user.png" class="col-xs-2 preview-img-none" *ngIf="form.get('imageURL').value === undefined || form.get('imageURL').value.length === 0">
                        <span class="col-xs-8 col-sm-7 preview-field" formControlError="imageURL">
                            <input #_imageUrl type="text" class="form-control" formControlName="imageURL" placeholder="http://www.myphoto.com">
                        </span>
                        <button class="col-xs-2 col-sm-3 btn btn-default preview-btn" [disabled]="form.get('imageURL').hasError('valid')" (click)="linkImageUrl()">
                            <i class="pficon pficon-arrow"></i> Link Profile Photo
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">URL</label>
                    <div formControlError="url">
                        <input #_url type="text" class="form-control" formControlName="url" placeholder="http://www.myprofile.com">
                    </div>
                </div>
                <div class="form-group">
                    <label>Bio</label>
                    <textarea #_bio class="form-control" rows="5" formControlName="bio" placeholder="Enter your bio" [blockInputAtMaxLimit]="true"
                        [charsMaxLimit]="255" [charsRemainingElement]="remainingCountElement" [charsRemainingWarning]="5" pfng-remaining-chars-count>
                    </textarea>
                    <span class="pull-right chars-remaining-pf"><span #remainingCountElement></span><span class="fields-status-pf">characters remaining</span></span>
                </div>
            </form>
        </div>
        <!-- right column -->
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <form>
                <div class="form-group padding-top-40">
                    <div class="feature-toggle-text">
                        <div class="feature-toggle-text-header">
                            <h2>Experimental Features</h2>
                            <p>Experimental features are areas of the product that we’re trying out and would like your feedback
                                on.
                            </p>
                        </div>
                        <div class="feature-toggle-text-body">
                            <p>Experimental features are provided for use with no guarantee of service, data longevity, or support.
                                You agree to use these at your own risk with the acknowledgement that the features may not
                                operate correctly and may be substantially modified. These features are provided “AS IS”
                                without warranty of any kind. In no event shall Red Hat be liable for any damage whatsoever
                                arising out of the use or inability to use these features. You can opt out of these experimental
                                features at any point in time by unchecking the box below.</p>
                            <p>These terms and conditions do not replace the terms and conditions you agreed to when you signed
                                up for the OpenShift.io service.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="profile-bar">
        <div class="profile-bar-buttons col-sm-12">
            <button class="btn btn-primary btn-update btn-lg col-sm-3 col-md-2 col-lg-1 col-sm-offset-3 col-md-offset-4 col-lg-offset-5"
                [disabled]="isUpdateProfileDisabled" (click)="updateProfile()">Update</button>
            <button class="btn btn-cancel btn-default btn-lg col-sm-3 col-md-2 col-lg-1" (click)="routeToProfile()">Cancel</button>
        </div>
    </div>
</div>