<form [formGroup]="form" class="form-horizontal">
  <div class="form-group" formControlError="assignedId">
    <label class="col-sm-3 control-label required-pf">Assigned Id
      <i class="fa fa-question-circle text-muted" tooltip="Assigned Space Id, usually a number e.x. DNI" placement="right"></i>
    </label>
    <div class="col-sm-9">
      <input formControlName="assignedId" type="text" class="form-control" autofocus/>
      <form-help-block formControlHelp="assignedId"></form-help-block>
    </div>
  </div>
  <div class="form-group" formControlError="name">
    <label class="col-sm-3 control-label required-pf">Name
      <i class="fa fa-question-circle text-muted" tooltip="Space Name" placement="right"></i>
    </label>
    <div class="col-sm-9">
      <input formControlName="name" type="text" class="form-control" />
      <form-help-block formControlHelp="name"></form-help-block>
    </div>
  </div>
</form>
