<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

      <ofs-document-search-toolbar
        [totalResults]="totalResults"
        [selections]="documentsSelected"
        (onChange)="onToolbarChange($event)">
      </ofs-document-search-toolbar>

      <!-- List -->
      <pfng-list [actionTemplate]="actionTemplate" [config]="listConfig" [expandTemplate]="expandTemplate" [items]="items" [itemTemplate]="itemTemplate"
        (onActionSelect)="handleAction($event)" (onClick)="handleClick($event)" (onSelectionChange)="handleSelectionChange($event)">
        <ng-template #itemTemplate let-item="item" let-index="index">

          <div class="list-pf-left">
            <span class="fa fa-file-code-o list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
          </div>
          <div class="list-pf-content-wrapper">
            <div class="list-pf-main-content">
              <div class="list-pf-title">
                {{item.attributes.assignedId}}
                <small>{{item.attributes.type}}</small>
              </div>
              <div class="list-pf-description text-overflow-pf">
                {{item.attributes.supplierName | uppercase}}
                <small>{{item.attributes.supplierAssignedId}}</small>
              </div>
              <div class="list-pf-description text-overflow-pf">
                {{item.attributes.customerName | uppercase}}
                <small>{{item.attributes.customerAssignedId}}</small>
              </div>
            </div>
            <div class="list-pf-additional-content">
              <div>
                <strong>{{item.attributes.amount | number}}</strong> {{item.attributes.currency | uppercase}}
              </div>
              <div>
                {{item.attributes.issueDate | date: 'shortDate'}}
              </div>
            </div>
          </div>

        </ng-template>
        <ng-template #actionTemplate let-item="item" let-index="index">
          <pfng-action class="list-pf-actions" [config]="getActionConfig(item, printButtonTemplate, downloadButtonTemplate)" (onActionSelect)="handleAction($event, item)">
            <ng-template #printButtonTemplate let-action="action">
              <span class="fa fa-print">&nbsp;</span>{{action.title}}
            </ng-template>
            <ng-template #downloadButtonTemplate let-action="action">
              <span class="fa fa-cloud-download">&nbsp;</span>{{action.title}}
            </ng-template>
          </pfng-action>
        </ng-template>
        <ng-template #expandTemplate let-item="item" let-index="index">
          <h1>Basic content</h1>
        </ng-template>
      </pfng-list>

    </div>
    <!-- /col -->
    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <ofs-document-sidebar></ofs-document-sidebar>
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
