<ng-template #modalTemplate>

  <form role="form" #collaboratorsForm="ngForm" (ngSubmit)="addCollaborators()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Collaborator</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <section>
        <div class="form">
          <fieldset class="add-fieldset">
            <div class="form-group">
              <label #test class="control-label">Collaborators</label>
              <ss-multiselect-dropdown #typeahead name="collaboratorsId" [options]="dropdownOptions" [(ngModel)]="dropdownModel" [settings]="dropdownSettings"
                (onLazyLoad)="changed($event)" required class="user-select" style="width: 300px;">
              </ss-multiselect-dropdown>
            </div>
          </fieldset>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <div class="add-footer">
        <div>
          <button class="btn btn-default margin-right-5" type="button" (click)="close()">Cancel</button>
          <button class="btn btn-primary" [disabled]="!collaboratorsForm.form.valid" type="submit">Add</button>
        </div>
      </div>
    </div>
  </form>

</ng-template>
