<div class="padding-15">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <pfng-list [actionTemplate]="actionTemplate" [config]="listConfig" [expandTemplate]="expandTemplate" [items]="items" [itemTemplate]="itemTemplate"
          (onActionSelect)="handleAction($event)" (onClick)="handleClick($event)" (onDblClick)="handleDblClick($event)" (onSelectionChange)="handleSelectionChange($event)">

          <ng-template #itemTemplate let-item="item" let-index="index">
            <div class="list-pf-left">
              <span class="fa {{item.typeIcon}} list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
            </div>
            <div class="list-pf-content-wrapper">
              <div class="list-pf-main-content">
                <div class="list-pf-title">{{item.name}}</div>
                <div class="list-pf-description text-overflow-pf">{{item.address}}</div>
              </div>
              <div class="list-pf-additional-content">
                <div>
                  <span class="pficon pficon-screen"></span>
                  <strong>{{item.hostCount}}</strong> Hosts
                </div>
                <div>
                  <span class="pficon pficon-cluster"></span>
                  <strong>{{item.clusterCount}}</strong> Clusters
                </div>
                <div>
                  <span class="pficon pficon-container-node"></span>
                  <strong>{{item.nodeCount}}</strong> Nodes
                </div>
                <div>
                  <span class="pficon pficon-image"></span>
                  <strong>{{item.imageCount}}</strong> Images
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #actionTemplate let-item="item" let-index="index">
            <pfng-action class="list-pf-actions" [config]="getActionConfig(item, actionButtonTemplate)" (onActionSelect)="handleAction($event, item)">
              <ng-template #actionButtonTemplate let-action="action">
                <span [class]="action.styleClass">&nbsp;</span>{{action.title}}
              </ng-template>
            </pfng-action>
          </ng-template>

          <ng-template #expandTemplate let-item="item" let-index="index">
            <div class="row">
              <div class="col-md-9">
                <dl class="dl-horizontal">
                  <dt>Host</dt>
                  <dd>{{item.city}}</dd>
                  <dt>Admin</dt>
                  <dd>{{item.name}}</dd>
                  <dt>Time</dt>
                  <dd>January 15, 2016 10:45:11 AM</dd>
                  <dt>Severity</dt>
                  <dd>Warning</dd>
                  <dt>Cluster</dt>
                  <dd>Cluster 1</dd>
                </dl>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </ng-template>
        </pfng-list>
      </div>
    </div>
  </div>