//@import (reference) '../../../assets/stylesheets/shared/osio.less';
//tabs content area
.overview-nav-tab-content { padding: 20px 0; }
.edit-profile-img {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #d1d1d1;
  cursor: pointer;
}
.edit-profile-name-icon {
  margin-top: 25px;
  color: #8b8d8f;
  cursor: pointer;
}
.profile-wrapper-email {
  .pficon-edit {
    color: #8b8d8f;
    cursor: pointer;
  }
}
.profile-wrapper {
  &-email,
  &-url,
  &-bio,
  &-username {
    padding-left: 5px;
  }
}
.profile-img,
.profile-img-none {
  margin: 0 auto;
}
.profile-img-none,
.preview-img-none {
  border-top: solid 2px;
  border-top-color: #d1d1d1;
  border-right: solid 1px;
  border-right-color: #d1d1d1;
  border-bottom: solid 1px;
  border-bottom-color: #d1d1d1;
  border-left: solid 2px;
  border-left-color: #d1d1d1;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap { word-wrap: break-word; }
.profile-update-button { white-space: normal; }
