@import '~assets/stylesheets/_base';

.modal-dialog-of {
  width: 696px;
}

.about-modal-of {
  .modal-background-image {
    background-image: url('../../assets/images/RH-brand-bg.png');
  }
  background-size: 100% 100%;
}

.logo {
  width: 250px;
}

.modal-footer {
  img {
    position: absolute;
    right: 23px;
    bottom: 21px;
    width: 85px;
  }
}
