<div class="row toolbar-pf">
  <div class="col-sm-12">
    <form class="toolbar-pf-actions">
      <div class="form-group toolbar-pf-filter">
        <label class="sr-only" for="filter">Rendering Engine</label>
        <div class="input-group">
          <ofs-role-filter [config]="roleConfig" (onChange)="roleChange($event)"></ofs-role-filter>
          <input type="text" class="form-control" placeholder="Filter By Rendering Engine..." autocomplete="off" name="filterText"
            [(ngModel)]="filterText" (keypress)="searchInputKeyPress($event)">
        </div>
      </div>
      <div class="form-group">
        <pfng-sort [config]="sortConfig" (onChange)="sortChange($event)"></pfng-sort>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button">
          <i class="fa fa-cloud-download"></i> Download
        </button>
        <button class="btn btn-default" type="button">
          <i class="fa fa-paper-plane"></i> Send by Email
        </button>
        <div class="dropdown btn-group  dropdown-kebab-pf" dropdown>
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" dropdownToggle>
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownKebab" *dropdownMenu>
            <li>
              <a href="#">
                <i class="fa pficon-print"></i> Print
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">
                <i class="fa fa-star"></i> Mark as Started
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="toolbar-pf-action-right">
        <div class="form-group toolbar-pf-find">
          <button class="btn btn-link btn-find" type="button">
            <span class="fa fa-search"></span>
          </button>
          <div class="find-pf-dropdown-container">
            <input type="text" class="form-control" id="find" placeholder="Find By Keyword...">
            <div class="find-pf-buttons">
              <span class="find-pf-nums">1 of 3</span>
              <button class="btn btn-link" type="button">
                <span class="fa fa-angle-up"></span>
              </button>
              <button class="btn btn-link" type="button">
                <span class="fa fa-angle-down"></span>
              </button>
              <button class="btn btn-link btn-find-close" type="button">
                <span class="pficon pficon-close"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-link" (click)="showTools=!showTools">
            <i class="fa pficon-settings"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="row" [hidden]="!showTools">
      <div class="col-sm-12">
        <ul class="list-inline">
          <li>
            <ofs-date-filter [config]="dateFilterConfig" (onChange)="dateFilterChange($event)"></ofs-date-filter>
          </li>
          <li>
            <ofs-number-filter [config]="amountFilterConfig" (onChange)="amountFilterChange($event)"></ofs-number-filter>
          </li>
        </ul>
      </div>
    </div>

    <div class="row toolbar-pf-results">
      <div class="col-sm-9">
        <div>
          <h5>0 Results</h5>
        </div>
      </div>
      <div class="col-sm-3 table-view-pf-select-results">
        <strong>0</strong> of
        <strong>10</strong> selected

        <ul class="pagination">
          <li>
            <a href="#">
              <span class="i fa fa-angle-left"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="i fa fa-angle-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
