<div class="card-pf card-pf-utilization">
    <div class="card-pf-heading">
        <h2 class="card-pf-title">Spaces</h2>
    </div>
    <div class="card-pf-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 class="card-pf-subtitle">OWNED</h3>
                <p class="card-pf-utilization-details">
                    <span class="card-pf-utilization-card-details-count">50</span>
                    <span class="card-pf-utilization-card-details-description">
                    <span class="card-pf-utilization-card-details-line-1">Owned</span>
                    <span class="card-pf-utilization-card-details-line-2">spaces</span>
                    </span>
                </p>
                <div>
                    <div class="blank-slate-pf" *ngIf="spaces.length === 0">
                        <div class="blank-slate-pf-icon"><i class="pficon pficon-info"></i></div>
                        <h3>No recent failed or active pipelines</h3>
                        <p>Failed pipelines or active pipelines will display here when you commit and build your codebase.</p>
                        <div class="blank-slate-pf-main-action">
                            <button class="btn btn-primary btn-lg">Claim a space</button>
                        </div>
                    </div>
                    <div *ngIf="spaces.length > 0">
                        <ul class="list-group list-view-pf list-view-pf-view">
                            <li class="list-group-item" *ngFor="let space of spaces">
                                <div class="list-view-pf-main-info">
                                    <div class="list-view-pf-body">
                                        <div class="list-view-pf-description">
                                            <div class="list-group-item-text">
                                                <span class="pficon-server" title="Space"></span>&nbsp;
                                                <a [routerLink]="['/', space.relationalData.creator.attributes.username, space.attributes.name]">
                                                    {{space.attributes.name | spaceName}}
                                                </a><span> | </span>
                                                <a> {{space.attributes.assignedId}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 class="card-pf-subtitle">SHARED</h3>
                <p class="card-pf-utilization-details">
                    <span class="card-pf-utilization-card-details-count">50</span>
                    <span class="card-pf-utilization-card-details-description">
                    <span class="card-pf-utilization-card-details-line-1">Shared</span>
                    <span class="card-pf-utilization-card-details-line-2">spaces</span>
                    </span>
                </p>
                <div>
                    <div class="blank-slate-pf" *ngIf="false">
                        <div class="blank-slate-pf-icon"><i class="pficon pficon-info"></i></div>
                        <h3>No recent failed or active pipelines</h3>
                        <p>Failed pipelines or active pipelines will display here when you commit and build your codebase.</p>
                        <div class="blank-slate-pf-main-action">
                            <button class="btn btn-primary btn-lg">Request space</button>
                        </div>
                    </div>
                    <div *ngIf="true">
                        <ul class="list-group" id="recent-pipelines-list">
                            <li class="list-group-item">
                                <div>
                                    <span class="pficon-users" title="Running"></span>
                                    <a href="/developer/openfact-platform/create/pipelines"> openfact-platform </a> <span>|</span>
                                    <a class="f8-card__pipeline-column-build" target="_blank" href="#"> Build #1 <i aria-hidden="true" class="fa fa-external-link"></i> </a>
                                </div>
                                <div> Started: 8/16/2017, 11:46 AM </div>
                                <div> Status: <b>Running</b> </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <span class="pficon-users" title="Running"></span>
                                    <a href="/developer/openfact-platform/create/pipelines"> openfact-platform </a> <span>|</span>
                                    <a class="f8-card__pipeline-column-build" target="_blank" href="#"> Build #1 <i aria-hidden="true" class="fa fa-external-link"></i> </a>
                                </div>
                                <div> Started: 8/16/2017, 11:46 AM </div>
                                <div> Status: <b>Running</b> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 class="card-pf-subtitle">REQUESTED</h3>
                <p class="card-pf-utilization-details">
                    <span class="card-pf-utilization-card-details-count">50</span>
                    <span class="card-pf-utilization-card-details-description">
                    <span class="card-pf-utilization-card-details-line-1">Requested</span>
                    <span class="card-pf-utilization-card-details-line-2">spaces</span>
                    </span>
                </p>
                <div>
                    <div class="blank-slate-pf" *ngIf="false">
                        <div class="blank-slate-pf-icon"><i class="pficon pficon-info"></i></div>
                        <h3>No recent failed or active pipelines</h3>
                        <p>Failed pipelines or active pipelines will display here when you commit and build your codebase.</p>
                    </div>
                    <div>
                        <ul class="list-group" id="recent-pipelines-list">
                            <li class="list-group-item">
                                <div>
                                    <span class="pficon-pending" title="Running"></span>
                                    <a href="/developer/openfact-platform/create/pipelines"> openfact-platform </a> <span>|</span>
                                    <a class="f8-card__pipeline-column-build" target="_blank" href="#"> Build #1 <i aria-hidden="true" class="fa fa-external-link"></i> </a>
                                </div>
                                <div> Started: 8/16/2017, 11:46 AM </div>
                                <div> Status: <b>Running</b> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>