<div class="card-pf card-pf-utilization">
    <div class="card-pf-heading">
        <h2 class="card-pf-title">Recent Spaces</h2>
    </div>
    <div class="card-pf-body">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="blank-slate-pf" *ngIf="spaces.length === 0">
                        <div class="blank-slate-pf-icon"><i class="pficon pficon-info"></i></div>
                        <h3>No recent spaces
                        </h3>
                        <p>Spaces will be displayed as much as you interact with one of them.</p>
                        <div class="blank-slate-pf-main-action">
                            <button (click)="spaceWizard.open()" class="btn btn-primary btn-lg">Claim Space</button>
                        </div>
                    </div>
                    <div *ngIf="spaces.length > 0">
                        <ul class="list-group list-view-pf list-view-pf-view">
                            <li class="list-group-item" *ngFor="let space of spaces">
                                <div class="list-view-pf-main-info">
                                    <div class="list-view-pf-body">
                                        <div class="list-view-pf-description">
                                            <div class="list-group-item-text">
                                                <span class="pficon-server" title="Space"></span>&nbsp;
                                                <a [routerLink]="['/', space.relationalData.creator.attributes.username, space.attributes.name]">
                                                    {{space.attributes.name | spaceName}}
                                                </a><span> | </span>
                                                <a> {{space.attributes.assignedId}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-pf-footer" *ngIf="spaces.length > 0">
        <p>
            <a (click)="spaceWizard.open()" href="javascript:void(0);" class="card-pf-link-with-icon">
                <span class="pficon pficon-add-circle-o"></span>Claim New Space
            </a>
        </p>
    </div>
</div>

<ofs-space-wizard #spaceWizard></ofs-space-wizard>