@import '../../../styles/styles';

.panel-black {
  border-color: $color-pf-black-300;
  box-shadow: 5px 5px 10px $color-pf-black-300;
  .panel-heading {
    color: $color-pf-black-100;
    background: $color-pf-black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($color-pf-black-900, $color-pf-black-800, $color-pf-black-900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color-pf-black-900, $color-pf-black-800, $color-pf-black-900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($color-pf-black-900, $color-pf-black-800, $color-pf-black-900); /* For Firefox 3.6 to 15 */
    background: linear-gradient($color-pf-black-900, $color-pf-black-800, $color-pf-black-900); /* Standard syntax */
  }
  + .panel-default {
    border-top-color: $color-pf-black-300;
  }
  + .panel-primary {
    border-top-color: $color-pf-black-300;
  }
  + .panel-success {
    border-top-color: $color-pf-black-300;
  }
  + .panel-warning {
    border-top-color: $color-pf-black-300;
  }
}

.panel-right-bottom {
  bottom: 24px;
  left: auto;
  max-height: 323px;
  position: absolute;
  right: 24px;
}

.ofs-row:hover {
  background-color: $color-pf-blue-50;
  cursor: pointer;
}
