@import '../../../styles/styles';

.of-notification {
    .drawer-pf {
      height: calc(100vh - 59vh);
      bottom: 0;
    }
    .drawer-pf-trigger-icon { cursor: pointer; }
}

.of-collapse {
  height: 27px !important;
}


.of-panel-body {
  max-height: calc(100vh - 70vh); 
  overflow-y: auto;
}

/*
* Current patternfly sass version dont support this
* Remove this when upgrade patternfly-sass
*/
.drawer-pf {
  width: 335px !important;
}

.drawer-pf-close, .drawer-pf-toggle-expand {
  color: inherit;
  cursor: pointer;
  line-height: inherit;
  padding: 2px 5px;
  position: absolute;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}
.drawer-pf-toggle-expand {
  left: 0;
  &:before {
    content: "\f100";
    font-family: "FontAwesome";
  }
  &:hover {
    color: $link-color;
  }
}
.drawer-pf-close {
  right: 0;
}


.drawer-pf-action {
  display: flex;
  .btn-link {
    color: $link-color;
    padding: 10px 0;
    .pficon, .fa {
      margin-right: 3px;
    }

    &:hover { color: $link-hover-color; }
  }
}

.drawer-pf-action-link {
  border-left: solid 1px $color-pf-black-300;
  flex: 1 1 0%;
  margin: 10px 0;
  text-align: center;

  &:first-of-type {
    border-left-width: 0;
  }

  .btn-link {
    padding: 0;
  }
}