<ul class="nav navbar-nav navbar-right navbar-iconic">

  <cn-notification-counter></cn-notification-counter>

  <!-- <li ng-if="launcherApps.length > 0">
    <pf-application-launcher items="launcherApps" is-list="true"></pf-application-launcher>
  </li> -->

  <li dropdown>
    <a dropdownToggle class="nav-item-iconic" id="help-dropdown">
      <span title="Help" class="fa pficon-help" aria-hidden="true"></span>
      <span class="sr-only">Help</span>
      <span class="caret" aria-hidden="true"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu" aria-labelledby="help-dropdown" extension-point extension-name="nav-help-dropdown" extension-types="dom html">
      <li role="menuitem"><a class="dropdown-item" href="#">About</a></li>
    </ul>
  </li>
  <li dropdown *ngIf="user">
    <a dropdownToggle id="user-dropdown" class="nav-item-iconic">
      <span class="fa pf-icon pficon-user" aria-hidden="true"></span>
      <span class="username truncate">carlos feria</span>
      <span class="caret" aria-hidden="true"></span>
    </a>

    <ul *dropdownMenu aria-labelledby="user-dropdown">
      <!-- extension points generated here -->
    </ul>
  </li>
</ul>
