<div class="container-pf-nav-pf-vertical">
  <div class="view">
    <div class="middle landing-page">
      <div class="middle-content">
        <div class="landing-search-area">
          <cn-search-document></cn-search-document>
        </div>
        <div class="landing">

          <div class="landing-main-area">
            <div class="landing-header-area" ng-transclude="landingheader">
              <div class="build-applications-view">
              </div>
            </div>
            <div class="landing-body-area">
              <div class="landing-body">
                <div class="services-view">
                  <div class="services-view-container mobile-items-view">

                    <div class="add-methods">
                      <h1>Browse Document</h1>
                      <div>
                        <ul class="add-other hidden-md hidden-lg">
                          <li dropdown class="dropdown" placement="bottom left">
                            <a dropdownToggle class="dropdown-toggle" id="add-methods-dropdown" aria-haspopup="true" aria-expanded="false">
                              Custom Document
                              <span class="caret" aria-hidden="true"></span>
                            </a>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-left pull-left" aria-labelledby="add-methods-dropdown">
                              <li>
                                <a href="javascript:void(0)">Import FILE / XML</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="add-other hidden-xs hidden-sm">
                          <li>
                            <a href="javascript:void(0)">Import FILE / XML</a>
                          </li>
                        </ul>
                      </div>
                    </div>


                    <ul class="nav nav-tabs nav-tabs-pf services-categories">
                      <li class="active">
                        <a class="services-category-heading">All</a>
                        <a class="services-back-link" href="">Back</a>
                      </li>
                    </ul>

                    <div class="services-inner-container">
                      <div class="services-no-sub-categories">
                        <div class="services-items">
                          <cn-document-filter class="services-items-filter"></cn-document-filter>
                          <pfng-list [config]="listConfig" [actionTemplate]="actionTemplate" [items]="documents" [itemTemplate]="itemTemplate">
                            <ng-template #itemTemplate let-item="item" let-index="index">
                              <div class="list-pf-left">
                                <div style="cursor: pointer;" (click)="markAsStarred(item)">
                                  <span *ngIf="item.attributes.starred" class="fa fa-star list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
                                  <span *ngIf="!item.attributes.starred" class="fa fa-file-code-o list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
                                </div>
                              </div>
                              <div class="list-pf-content-wrapper">
                                <div class="list-pf-main-content">
                                  <div class="list-pf-title">
                                    {{item.attributes.assignedId}}
                                    <small>{{item.attributes.type}}</small>
                                  </div>
                                  <div class="list-pf-description text-overflow-pf">
                                    {{item.attributes.supplierName | uppercase}}
                                    <small>{{item.attributes.supplierAssignedId}}</small>
                                  </div>
                                  <div class="list-pf-description text-overflow-pf">
                                    {{item.attributes.customerName | uppercase}}
                                    <small>{{item.attributes.customerAssignedId}}</small>
                                  </div>
                                </div>
                                <div class="list-pf-additional-content">
                                  <div>
                                    <strong>{{item.attributes.amount | number}}</strong> {{item.attributes.currency | uppercase}}
                                  </div>
                                  <div>
                                    {{item.attributes.issueDate | date: 'shortDate'}}
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                            <ng-template #actionTemplate let-item="item" let-index="index">
                              <pfng-action class="list-pf-actions" [config]="getActionConfig(item, printButtonTemplate)" (onActionSelect)="handleAction($event, item)">
                                <ng-template #printButtonTemplate let-action="action">
                                  <span class="fa fa-print">&nbsp;</span>{{action.title}}
                                </ng-template>
                              </pfng-action>
                            </ng-template>
                          </pfng-list>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- end ngIf: $ctrl.loaded -->
                </div>
              </div>
            </div>
          </div>

          <div class="landing-side-bar" ng-transclude="landingside">
            <cn-landside></cn-landside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Utils -->
