<div class="container-pf-nav-pf-vertical">
  <div class="view">
    <div class="middle landing-page">
      <div class="middle-content">
        <!-- <landing-page base-project-url="project" on-template-selected="templateSelected" class="ng-isolate-scope"> -->
          <div class="landing">
            <div class="landing-side-bar" ng-transclude="landingside">
              carlos
              <h1>2</h1><h1>2</h1><h1>2</h1><h1>2</h1><h1>2</h1><h1>2</h1>
            </div>
          </div>
        <!-- </landing-page> -->
      </div>
    </div>
  </div>
</div>
