<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus">
  <nav class="nav-vertical-primary">
    <ul class="list-group">
      <li routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        <a>
          <span title="Settings" class="fa fa-dashboard" aria-hidden="true"></span>
          <span class="list-group-item-value">Overview</span>
        </a>
      </li>
      <li routerLink="./_reports" routerLinkActive="active" class="list-group-item">
        <a>
          <span title="Settings" class="pficon pficon-service-catalog" aria-hidden="true"></span>
          <span class="list-group-item-value">Reports</span>
        </a>
      </li>
      <li routerLink="./_collaborators" routerLinkActive="active" class="list-group-item">
        <a>
          <span title="Settings" class="pficon pficon-project" aria-hidden="true"></span>
          <span class="list-group-item-value">Collaborators</span>
        </a>
      </li>

      <!-- <li routerLink="./_settings" routerLinkActive="active" class="list-group-item">
        <a>
          <span title="Settings" class="pficon pficon-settings" aria-hidden="true"></span>
          <span class="list-group-item-value">Settings</span>
        </a>
      </li> -->
    </ul>
  </nav>

  <!-- <navbar-utility-mobile>
    <nav class="nav-vertical-utility visible-xs-block">
      <ul extension-point="" extension-name="nav-dropdown-mobile" extension-types="dom" extension-args="[user]" class="list-group ng-isolate-scope">
        <li class="list-group-item ">
          <a href="https://docs.openshift.com/online/welcome/index.html">
            <span class="fa fa-book fa-fw" aria-hidden="true"></span>
            <span class="list-group-item-value">Documentation</span>
          </a>
        </li>
        <li class="list-group-item ">
          <a href="command-line">
            <span class="fa fa-terminal" aria-hidden="true"></span>
            <span class="list-group-item-value">Command Line Tools</span>
          </a>
        </li>
        <li class="list-group-item ">
          <a href="about">
            <span class="pficon pficon-info fa-fw" aria-hidden="true"></span>
            <span class="list-group-item-value">About</span>
          </a>
        </li>
        <li class="list-group-item ">
          <a href="logout">
            <span class="pficon pficon-user fa-fw" aria-hidden="true"></span>
            <span class="list-group-item-value">Log out
              <span class="username">carlos feria</span>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </navbar-utility-mobile> -->
</div>
