<div class="catalog-projects-summary-panel" ng-show="!$ctrl.loading">
  <button class="create-button btn btn-primary" (click)="spaceWizard.open()">
    <span class="fa fa-plus"></span>
    <span class="create-button-text">{{'LANDSCAPE.CREATE_SPACE' | translate}}</span>
  </button>

  <h2 class="summary-title secondary" *ngIf="spaces && spaces.length">
    <a routerLink="/_spaces">{{'LANDSCAPE.MY_SPACES' | translate}}</a>
  </h2>

  <div *ngIf="spaces && spaces.length" class="catalog-project-summary-list">
    <div class="projects-count">
      <strong>1</strong>
      of
      <strong>1</strong>
      Projects
      <a routerLink="/_spaces" class="projects-view-all">{{'LANDSCAPE.VIEW_ALL' | translate}}</a>
    </div>
    <div id="catalog-projects-summary-list">
      <div *ngFor="let space of spaces" class="project-tile tile-click">
        <div class="dropdown dropdown-kebab-pf" dropdown>
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" aria-haspopup="true" aria-expanded="false"
            dropdownToggle>
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownKebab">
            <li>
              <a href="javascript:void(0)" ng-click="openDeleteModal()" role="button" ng-class="{ 'disabled-link': disableDelete }" label="Delete Project"
                project="project" type-name-to-confirm="true" stay-on-current-page="true" success="$ctrl.onDeleteProject">Delete Project</a>
            </li>
          </ul>
        </div>
        <h3 class="project-tile-header">
          <a href="project/clarksnut-jenkins" class="project-title tile-target">{{space.attributes.name}}</a>
        </h3>
        <p class="project-date">
          created
          <span *ngIf="space.relationalData">by
            <span class="word-break">{{space.relationalData.creator.attributes.fullName || space.relationalData.creator.attributes.username}}</span>
          </span>
          <span title="{{space.attributes['created-at'] | date}}">{{space.attributes['created-at'] | date | amTimeAgo}}</span>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="spaces && spaces.length <= 4">
    <div class="getting-started-panel">
      <!-- ngIf: $ctrl.projects && $ctrl.projects.length > 0 -->
      <h2 class="secondary" ng-if="$ctrl.projects &amp;&amp; $ctrl.projects.length > 0">Getting Started</h2>
      <!-- end ngIf: $ctrl.projects && $ctrl.projects.length > 0 -->
      <!-- ngIf: $ctrl.startTour() -->
      <button ng-if="$ctrl.startTour()" class="getting-started-button btn btn-default hidden-xs with-projects" ng-class="{'with-projects': $ctrl.projects &amp;&amp; $ctrl.projects.length}"
        ng-click="$ctrl.handleGettingStartedClick()">
        <span class="fa fa-info-circle fa-2"></span>
        <span class="getting-started-button-text">Take Home Page Tour</span>
      </button>
      <!-- end ngIf: $ctrl.startTour() -->
    </div>
    <div class="resources-panel">
      <ul>
        <!-- ngRepeat: resource in $ctrl.resourceLinks -->
        <li ng-repeat="resource in $ctrl.resourceLinks">
          <a href="https://docs.openshift.com/online/" target="_blank" title="https://docs.openshift.com/online/" class="ng-binding">Documentation</a>
        </li>
        <!-- end ngRepeat: resource in $ctrl.resourceLinks -->
        <li ng-repeat="resource in $ctrl.resourceLinks">
          <a href="https://developers.redhat.com/products/cdk/overview/" target="_blank" title="https://developers.redhat.com/products/cdk/overview/"
            class="ng-binding">Container Development Kit</a>
        </li>
        <!-- end ngRepeat: resource in $ctrl.resourceLinks -->
        <li ng-repeat="resource in $ctrl.resourceLinks">
          <a href="https://www.youtube.com/user/rhopenshift" target="_blank" title="https://www.youtube.com/user/rhopenshift" class="ng-binding">YouTube</a>
        </li>
        <!-- end ngRepeat: resource in $ctrl.resourceLinks -->
        <li ng-repeat="resource in $ctrl.resourceLinks">
          <a href="https://blog.openshift.com/" target="_blank" title="https://blog.openshift.com" class="ng-binding">Blog</a>
        </li>
        <!-- end ngRepeat: resource in $ctrl.resourceLinks -->
      </ul>
    </div>
  </div>


  <div *ngIf="recentlyViewedItems && recentlyViewedItems.length">
    <h2 class="secondary">Recently Viewed</h2>
    <div class="services-view">
      <a class="services-item" *ngFor="let item of recentlyViewedItems" (click)="orderService(item)">
        <div ng-if="item.imageUrl" class="services-item-icon services-item-img">
          <img ng-src="images/logos/php.svg" src="images/logos/php.svg">
        </div>
        <div class="services-item-name" title="CakePHP + MySQL (Persistent)" aria-hidden="true">CakePHP + MySQL (Persistent)</div>
      </a>
    </div>
  </div>

</div>


<!-- Create Space modal -->
<ofs-space-wizard #spaceWizard></ofs-space-wizard>
